/* syntax */
/* .(period operator)class_name{
    properties:value;
} */


.main{
    color: khaki;
    background-color: darkcyan;
}
/* p {
    color: brown;
    font-size: 30px;
    margin-left: 30px;
    border: 1px solid black;
} */

.main1{
    border: 2px solid darkgreen;
    padding-left: 20px;
}

.main2{
    color: red;
    border: 2px solid cyan;
    background-color: lightcoral;
    height: 10px;
    width: 200px; 
}

.main3{
    background-color: coral;
    border: 15px;
    font-size: 2rem;
    font-weight: 800;
    /* opacity: 1; */
}

.main4{
    background-color: firebrick;
    color: fuchsia;
}

.container {
    font-size: 2rem;
    width: 250px;
    margin-left: 60px;
    border: 2px solid darkmagenta;
    overflow: hidden;
    text-overflow: clip;

}

.container1{
    font-size: 2rem;
    width: 250px;
    margin-left: 60px;
    border: 2px solid darkmagenta;
    overflow: hidden;
    text-overflow: clip;
}

.container2{
    font-size: 2rem;
    width: 250px;
    margin-left: 60px;
    border: 2px solid darkmagenta;
    overflow: hidden;
    text-overflow: clip;
}

div.container.hover{
    overflow: visible ;
}

.container2{
    font-size: 2rem;
    width: 100px;
    margin-left: 40px;
    border: 2px solid lightcoral;
    overflow-y: auto;
    overflow-x: scroll;
    height: 50px
}

.textshadow{
    text-shadow: -6px -7px 4px hotpink;
    font-size: 30px !important ;
      /* background-color: cornflowerblue; */
}

.textshadow1{
    text-shadow: -2px -3px 4px maroon;
    font-size: 30px ;
 
    
}

.container2{
    background-color: darkkhaki;
    font-size: 30px;
    padding: 15px ;
   
   
}

.imgopacity{
    position: absolute;
    opacity: 1;
}

.imgopacity.imgopasity2 img:hover{
    opacity: 0.5 ;
}

.parent{
    background-image:url('happynweyear2023.jpg') ;
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    position: absolute;
     /* z-index: 1 !important; add this only to hide content behind img or element */ 
    }
    
    /* div.main{
        z-index: -1!important;
    } */

    .imgopasity2{
        font-size: 20px;
    } 
     











/* div.main{
z-index: -1 !important;
} */




































