.background image {
    background-image: url(happy nwe year 2023.jpg);
    color: yellow;
    height: 100px;
    width: 200px;
    background-repeat: no-repeat;
    /* left: 30px; */
}

.content {
    margin-left: 400px;
}