.backgroundimage {
    background-image: url(happynweyear2023.jpg);
    color: rgb(230, 0, 255);
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    /* left: 30px; */
}

.content {
    margin-left: 390px;
}