.main{
    color: red;
    background-color: black;
}
.main1{
    color: fuchsia;
    background-color: black;

}
.main2{
    color: dodgerblue;
    background-color: black;

}
.main3{
    color: aqua;
    background-color: black;

}
.main4{
    color: limegreen;
    background-color: black;

}
.main5{
    color: brown;
    background-color: black;

}
.main6{
    color: darkmagenta;
    background-color: gray;
}
.body{
    background-color: hotpink;
}
