.button{
  color: aqua;
  background-color: black;
  font-size: x-large;
}
.button2{
  color: blue;
  background-color: black;
  font-size: x-large;
}
.button3{
  color: darkorange;
  background-color: black;
  font-size: x-large;
}
