<!-- <div>
  <p>
    this is my first web application
  </p>
  {{myName}}
</div>
 <!- {{xyz}}//wrong  -->
<!-- {{mySurname2}}
<br>
<button (click)="test()">click</button><br> 
<app-user></app-user><br>
<app-databinding></app-databinding>  --> 

{{car}}
<button routerLink="/user">User</button> &nbsp;&nbsp;
<button routerLink="/databinding">Databinding</button> &nbsp;&nbsp;
<a href="/user">UserCompo with href</a> &nbsp;&nbsp;
<a routerLink="/user">UserCompo with routerLink</a> &nbsp;&nbsp;
<button routerLink="/user">Wild card</button> <br>
<button routerLink="/homeModule-home">HomeModule-home</button> <br>
<button routerLink="/landing">HomeModule-landing</button> <br>
<button routerLink="/home-Module/landing">Home-Module-Landing</button> <br>
<button routerLink="/home-Module/home">Home-Module-Home</button> <br>
<button routerLink="/home-Module">Home-Module - Initially Landing</button> <br>
<button routerLink="/aboutus-Module">About us</button> <br>
<button routerLink="/aboutus-Module/Aboutusdetails">About us details</button> <br>
<button routerLink="/admin">Admin</button> <br>
<button (click)="redirect()">Admin by.ts</button> <br>
<button (click)="aboutusRedirect()">Aboutusdetails</button>
<router-outlet></router-outlet>





