<!-- <p>templatedriven works!</p>
<input type="text" appCharactersonly> Enter Name
<input type="text" appCharactersonly> Enter Mob Nobr
{{500 | currency1 }} -->

<form #loginForm="ngForm" autocomplete="off">
  <h3 class="login">Login Form</h3>
  <!-- <label>Enter your Full Name: </label><br> -->
  <input type="text" ngModel name="fullName" #fullName="ngModel" required minlength="5"
    placeholder="Enter your name"><br>
  <span> Hint :Enter Your Fullname : <br> </span><br>
  <span class="Name" *ngIf="fullName.touched && fullName.errors?.['required']"> Name is required</span>
  <span class="charchters" *ngIf="fullName.errors?.['minlength']"> Enter atleast 5 charchters</span>

  <!-- <label>Enter a Password</label><br> -->
  <input type="text" ngModel name="Password"><br>
  <span class="Password"> Enter a Password : <br> </span><br>

  <button class="submit button" (click)="submit(loginForm.value)">Submit button</button>

</form>
