.Name{
  color: aqua;
  background-color: black;
  font-size: medium;
}
.characters{
  color: brown;
  background-color: black;
  font-size: medium;

}
.password{
  color: brown;
  background-color: black;
  font-size: medium;

}
.submit button{
  color: brown;
  background-color: black;
  font-size: medium;

}
.login{
  color:purple;


}
